/* General Styles */

header {
    background-color: peachpuff;
    margin-bottom: 40px;
}

footer {
    height: 100px;
    background-color: peachpuff;
    padding-top: 10px;
    text-align: center;
    font-family: 'Noto Serif', serif;
}

/* Header */

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

header nav ul li a {
    font-family: 'Noto Serif', serif;
    color: grey;
    text-decoration: none;
    font-size: 25px;
    margin: 0 20px 0 0;
}

header nav ul li:last-child a {
    margin-right: 0;
}

header h1 {
    font-family: 'Noto Serif', serif;
    color: grey;
    margin: 0px;
    padding-top: 20px;
    font-size: 64px;
    text-align: center;
}

header h2 {
    font-family: 'Noto Serif', serif;
    color: grey;
    padding-top: 20px;
    margin: 0px;
    font-size: 34px;
    text-align: center;
}

/* Main */

h2 {
    color: slategray;
    font-family: 'Trebuchet MS', serif;
    font-size: 38px;
}

p, li {
    color: slategray;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

p a {
    text-decoration: none;
}

ul li a {
    text-decoration: none;
}

ul {
    list-style: none;
}



/* CONTACT FORM DESIGN */

form {
    padding-right: 6px;
}

form input, form textarea {
    width: 100%;
    margin-bottom: 20px;
}

form textarea {
    height: 160px;
}




/* Groups & Items (Mobile First) */

.group {
    display: flex;
    flex-direction: column; 
    background-color: peachpuff;
    margin: 0 auto 120px auto;
    width: 90%;
    border-radius: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px 30px 50px;
}


hr {
    width: 400px;
    margin-bottom: 120px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    width: 400px;
}


/* Groups & Items (Desktop) */

@media all and (min-width: 600px) {

    header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px; 
    }

    header h1 {
        margin: 14px 0;
        padding-top: 0;
    }

    header nav {
        margin-top: 8px;
    }

    header nav ul li a:hover {
        color: slategrey;
    }

    .group {
        display: flex;
        background-color: peachpuff;
        margin: 0 auto 120px auto;
        width: 50%;
        border-radius: 20px;
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 100px 30px 100px;
    }

    hr {
        width: 1000px;
        margin-bottom: 120px;
    }

    img {
        width: 1000px;
    }

}

/* ARTICLE SECTIONS */